/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap");

/* Your existing CSS code */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

/* Your existing CSS code */
body {
    font-family: "Raleway", sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1,
h2,
h3 {
    font-weight: 700;
    margin-bottom: 1rem;
}
hr {
    border: 1px solid #e5e4df;
    margin: 10px 0;
}
.number-font {
    font-family: Arial, sans-serif; /* You can replace Arial with any other font you prefer */
}

p {
    font-weight: 300;
    line-height: 1.6;
}

.sidebar {
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
}

.logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 130px;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: rgba(28, 17, 41, 0.88);
}

.menu-bar {
    height: calc(100vh - 90px);
    margin-top: 1rem;
    gap: 2;
    font-size: 1rem;
    position: relative;
    z-index: 9999;
}
:where(.css-dev-only-do-not-override-1okl62o).ant-layout .ant-layout-sider,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-dark,
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline,
 :where(.css-dev-only-do-not-override-1okl62o).ant-tabs .ant-tabs-ink-bar {
    background: #01150c;
}
:where(.css-dev-only-do-not-override-1okl62o).ant-menu-dark .ant-menu-item-selected,
 :where(.css-dev-only-do-not-override-1okl62o).ant-menu-dark>.ant-menu .ant-menu-item-selected {
    background-color: #24352b;
}
.custom-nav {
    background-color: #fff !important;
    padding: 0 !important;
    box-shadow: 0 6px 8px -9px #999;
}

.sp-border {
    border: 1px solid rgb(229, 231, 235);
}

.sp-border-t {
    border-top: 1px solid rgb(229, 231, 235);
}

.sp-border-b {
    border-bottom: 1px solid rgb(229, 231, 235);
}

.sp-border-l {
    border-left: 1px solid rgb(229, 231, 235);
}

.sp-border-r {
    border-right: 1px solid rgb(229, 231, 235);
}

.ant-card-head, .calculate-button {
    background-color: #01150c !important;
    color: #fff !important;
    text-align: center !important;
    min-height: 45px !important;
}

.tab-custom .ant-card-body {
    padding: 0 !important;
}

.tab-custom .ant-tabs-nav-wrap {
    background-color: #8b958d !important;
    color: #fff !important;
    text-align: center !important;
    border-top-right-radius: 12px !important;
    border-top-left-radius: 12px !important;
}

.ant-tabs-tab-active {
    background-color: #01150c !important;
}

.tab-custom .ant-tabs-nav-list {
    width: 100% !important;
}
.tab-custom .ant-tabs-tab {
    width: 50% !important;
}

.tab-custom .ant-tabs-tab-btn {
    margin-left: 20px !important;
    color: #fff !important;
    font-size: 14px !important;
}

.sp-p-0 {
    padding: 0px !important;
}

.custom-table .ant-card-body {
    padding: 0px !important;
}

.ant-layout-header {
    background-color: #01150c !important;
    color: #fff !important;
}

.custom-table th {
    background-color: #01150c !important;
    color: #fff !important;
}

.ant-menu-vertical .ant-menu-item-group-title{
    display: none;
}
.border-b-stone-400 {
    border-bottom: 1px solid #d9d9d9 !important;
}
.vertical-tabs .ant-tabs-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 30px 0px !important;
    background-color: #8b958d ;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.vertical-tabs .ant-tabs-tab-active {
    color: white !important;
}
.vertical-tabs .ant-tabs-tab-btn {
    display: flex;
    writing-mode: tb;
}
.vertical-tabs .ant-tabs-nav {
    margin-right: -67px;
}
.vertical-tabs .ant-tabs-tab .vertical-text {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.packages-table th {
    background-color: rgb(77 90 81) !important;
    color: #fff !important;
}
.incoming-table :where(.css-dev-only-do-not-override-1okl62o).ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:first-child {
    border-start-start-radius: 0px;
}
.incoming-table :where(.css-dev-only-do-not-override-1okl62o).ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:last-child {
    border-start-end-radius: 0px;
}
.drawer-title {
    display: 'flex'; 
    justify-content: 'center'; 
    align-items: 'center'; 
    background-color: '#f0f2f5';
    padding: '10px';
}
.packages-form .input-border {
    border-color: #203229 !important;
}
.packages-form :where(.css-dev-only-do-not-override-1okl62o).ant-input-outlined:focus {
    background-color: transparent;
    border-color: #203229;
    box-shadow: none;
}
.ant-drawer-header {
    padding: 0px !important;
}
.ant-drawer-close {
    display: none !important;
}
.button-submit {
    background-color: #27a844;
}
.button-clear {
    background-color: #dc3546;
}
.select-input {
    border: 1px solid #203229;
    box-shadow: none;
    color: white;
}
.ant-select-selection-item {
    color: white;
}
.select-input::placeholder  {
    color: #2e4038;
}
.input-border::placeholder {
    color: #2e4038;
}
.text-note {
    color: #44524b;
}