/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap");

/* Your existing CSS code */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

/* Your existing CSS code */
body {
    font-family: "Raleway", sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1,
h2,
h3 {
    font-weight: 700;
    margin-bottom: 1rem;
}

.number-font {
    font-family: Arial, sans-serif; /* You can replace Arial with any other font you prefer */
}

p {
    font-weight: 300;
    line-height: 1.6;
}

.sidebar {
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
}

.logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: rgba(28, 17, 41, 0.88);
}

.menu-bar {
    height: calc(100vh - 90px);
    margin-top: 1rem;
    gap: 2;
    font-size: 1rem;
    position: relative;
    z-index: 9999;
}

.custom-nav {
    background-color: #fff !important;
    padding: 0 !important;
    box-shadow: 0 6px 8px -9px #999;
}

.sp-border {
    border: 1px solid rgb(229, 231, 235);
}

.sp-border-t {
    border-top: 1px solid rgb(229, 231, 235);
}

.sp-border-b {
    border-bottom: 1px solid rgb(229, 231, 235);
}

.sp-border-l {
    border-left: 1px solid rgb(229, 231, 235);
}

.sp-border-r {
    border-right: 1px solid rgb(229, 231, 235);
}

.ant-card-head {
    background-color: #d27230 !important;
    color: #fff !important;
    text-align: center !important;
    min-height: 45px !important;
}

.tab-custom .ant-card-body {
    padding: 0 !important;
}

.tab-custom .ant-tabs-nav-wrap {
    background-color: #da966a !important;
    color: #fff !important;
    text-align: center !important;
    border-top-right-radius: 12px !important;
    border-top-left-radius: 12px !important;
}

.ant-tabs-tab-active {
    background-color: #d27230 !important;
}

.tab-custom .ant-tabs-nav-list {
    width: 100% !important;
}
.tab-custom .ant-tabs-tab {
    width: 50% !important;
}

.tab-custom .ant-tabs-tab-btn {
    margin-left: 20px !important;
    color: #fff !important;
    font-size: 14px !important;
}

.sp-p-0 {
    padding: 0px !important;
}

.custom-table .ant-card-body {
    padding: 0px !important;
}
