@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.sidebar {
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
}

.logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: rgba(28, 17, 41, 0.88);
}

.menu-bar {
    height: calc(100vh - 90px);
    margin-top: 1rem;
    gap: 2;
    font-size: 1rem;
    position: relative;
    z-index: 9999;
}
